<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志输出格式 -->
    <property name="LOG_PATTERN1" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <!-- 定义输出保存路径 -->
    <property name="LOG_PATH" value="logs/streaming_application"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN1}</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--        <file>${LOG_PATH}.log</file>-->                  <!-- 不再使用基础日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天轮转，不需要基础日志文件名 -->
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留30天的日志 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!-- 设置日志文件大小触发轮转 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize> <!-- 设置每个日志文件的最大大小 -->
        </triggeringPolicy>
        <encoder>
            <pattern>${LOG_PATTERN1}</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.hbase" level="WARN"/>
    <logger name="org.apache.hive" level="WARN"/>

    <!-- 根日志级别 TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" level="INFO"/>
        <appender-ref ref="FILE" level="INFO"/>
    </root>


</configuration>
